name: Frontend Deploy

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Configure AWS Credentials
        uses: aws-actions/configure-aws-credentials@v2
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: us-east-1

      - name: Deploy to S3
        run: aws s3 sync . s3://jg-cloud-resume --delete --exclude ".git/*" --exclude ".github/*"

      - name: Ensure CSS and js Content-Type
        run: |
          aws s3 cp style.css s3://jg-cloud-resume/style.css --content-type "text/css; charset=utf-8"
          aws s3 cp script.js s3://jg-cloud-resume/script.js --content-type "application/javascript; charset=utf-8"
      
      - name: Invalidate CloudFront Cache
        run: aws cloudfront create-invalidation --distribution-id ${{ secrets.CLOUDFRONT_DISTRIBUTION_ID }} --paths "/*"